<%= erb :'_errors' %>

<div id="question-form">
  <form action='/questions' method='POST' id='question-form'>
    <label>Title</label>
    <input type='text' name="question[title]" placeholder="What's your snack question? Be specific."><br>
    <textarea name="question[body]" cols="92" rows="15"></textarea>
    <hr>
    <hr>
    <!-- <label>Tags</label><br> -->
    <!-- <input type='text' name="question[tags]" placeholder="at least one tag such as (#snackinator, #cookiemonster)"> -->
    <input type="submit" value="Post Your Question">
  </form>
</div>
