<%= erb :'_errors' %>

<div>
  <form action='/questions' method='POST' id='question-form'>
    <label>Title</label>
    <input type='text' name="question[title]" placeholder="What's your snack question? Be specific."><br>
    <textarea name="question[body]"></textarea>
    <hr>
    <hr>
    <label>Tags</label>
    <input type='text' name="question[tags]" placeholder="Input tags here, seperated by commas"><br>
    <input type="submit" value="Post Your Question">
  </form>
</div>
