<h3>Register</h3>

  <form action="/register" method="post">
    <label>Username:</label>
    <input type="text" name="user[username]" >
    <label>Password</label>
    <input type="password" name="user[password]" >
    <input type="submit" value="Register">
  </form>
