<div class="container">
  <h3>Register</h3>

  <form action="/register" method="post">
    <label>Username:</label>
    <input type="text" name="user[username]" >
    <br><br>
    <label>Password</label>
    <input type="password" name="user[password]" >
    <br><br>
    <input type="submit" value="Register">
  </form>
</div>
