body {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}


ul {
  list-style-type: none;
}

#user-header {
  padding-left: 60%;
  background-color: black;
  height: 30px;
}

#user-buttons {
  padding-top: 5px;
}

#user-buttons a {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding: 0px 5px;
}

#nav-header {
  height: 96px;
  border-bottom: solid #cccccc 1px;
}


#form-container {
  width: 460px;
  margin: 20% 40%;

}

#login-form {
  text-align: left;
}

#login-form input {
  padding: 2px;
}

.orange {
  color: orange;
}

#profile-container {
  margin: 10%;
  height: 600px;
}

.subheader {
  margin: 20px;
  height: 40px;
}

.subheader a {
  border-top: solid #cccccc 1px;
  border-left: solid #cccccc 1px;
  border-right: solid #cccccc 1px;
  text-decoration: none;
  padding: 5px;
}

.subheader a:hover {
  background-color: #e6e6e6;
  transition: .15s;
}



.user-picture {
  margin: 20px;
  height: 240px;
  width: 240px;
  float: left;

}

.new_comment_form {
  display: none;
}

.user-picture img {
  margin: 5px;
}

#user-list {
  column-count: 3;
  height: 90%;
}

.user-card {
  border-top: solid #cccccc 1px;
  padding-top: 20px;
  margin-top: -36px;
}

#logo-box {
  float:left;
  padding: 20px;
  height: 90px;
  width: 300px;
}

#nav-buttons {
  padding: 36px 57px 0 0;
  float: right;
}

#nav-buttons button {
  margin: 0px 2px;
}

#activity-answers {
  width: 400px;
  float: left;
  display: inline-block;
}

#activity-questions {
  width: 400px;
  display: inline-block;

.answer-body > p {
  display: inline;
  width: 300px;
  color: red;
}

.vote-button{
  display: inline;
  background-color: white;
  border: none;
  color: #6a737c;
}

.vote-box {
  display: inline;
}

.vote-count {
  display: inline;
}

.vote-count > p {
  display: inline;
  padding-left: 15px;
}



