
ul {
  list-style-type: none;
}

#user-header {
  padding-left: 60%;
  background-color: black;
}

#user-header a {
  color: white;
}

#nav-header {
  height: 96px;
  border-bottom: solid #cccccc 1px;
}


#form-container {
  width: 460px;
  margin: 20% 40%;

}

#login-form {
  text-align: left;
}

#login-form input {
  padding: 2px;

}

#profile-container {
  margin: 10%;
  height: 600px;
}

.subheader {
  margin: 20px;
  height: 40px;
}

.user-picture {
  margin: 20px;
  height: 240px;
  width: 240px;
  float: left;
}

.user-picture img {
  margin: 5px;
}

#user-list {
  column-count: 3;
  height: 90%;
}

#logo-box {
  float:left;
  padding: 20px;
  height: 90px;
  width: 300px;
}

#nav-buttons {
  padding: 36px 57px 0 0;
  float:right;
}

#nav-buttons button {
  margin: 0px 2px;
}

#activity-answers {
  width: 400px;
  float: left;
  display: inline-block;
}

#activity-questions {
  width: 400px;
  display: inline-block;
}





