
ul {
  list-style-type: none;
}

#nav-header {
  padding-left: 60%;
  background-color: black;
}

#nav-header a {
  color: white;
}

#form-container {
  width: 460px;
  margin: 20% 40%;

}

#login-form {
  text-align: left;
}

#login-form input {
  padding: 2px;

}

.orange {
  color: orange;
}

#profile-container {
  margin: 10%;
  height: 600px;
  border: dashed 1px;
}

.subheader {
  margin: 20px;
  height: 40px;
  border: solid blue 1px;
}

.user-picture {
  border: dashed red 1px;
  margin: 20px;
  height: 240px;
  width: 200px;
  float: left;
}