.question {
  padding-left: 50px;
  width: 900px;
}

h1 {
    color: #242729;
    font-size: 18px;
    line-height: 2.22;
  }

.votes, .answers {
  display: inline-block;
  width: 60px;
}

.question-title {
  display: inline-block !important;
  font-size: small;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.question-title a {
  color: #005999;
}

li {
  list-style-type: none;
}

.small-text {
  font-size: x-small;
  font-weight: 300;
  color: #6a737c;
  margin-top: 0;
  margin-bottom: 0;
}

.points, .answer-count {
  font-weight: 300;
  color: #6a737c;
}

.author {
  display: inline-block;
  width: 200px;
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
}

.points {
  padding-left: 10px;
}

.answer-count {
  padding-left: 20px;
}

.answers {
  padding-right: 20px;
}

.author, .question-tags {
  display: inline-block;
  vertical-align: text-top;
}

hr {
  color: #005999;
}
