.body {
  margin-bottom: 100px;
  }

.question {
  padding-left: 30px;
  width: 700px;
}

.question-show {

  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

h1 {
    color: #242729;
    font-size: 18px;
    line-height: 2.22;
  }

li {
  list-style-type: none;
}

#header {
  text-align: left;
  color: #242729;
  font-size: 18px;
  margin-left: 20px;
  display: inline-block;
}

.votes, .answers {
  display: inline-block;
  vertical-align: text-top;
  width: 50px;
}

.question-title {
  display: inline-block !important;
  vertical-align: text-top;
  font-size: small;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.question-title a {
  color: #07C;
}

.question-body {
  display: inline-block !important;
  vertical-align: text-top;
  width: 500px;
}

.votes-questions {
  display: inline-block !important;
  vertical-align: text-top;
  width: 50px;
  padding-right: 20px;
}

.small-text {
  font-size: xx-small;
  font-weight: 300;
  color: #6a737c;
  margin-top: 0;
  margin-bottom: 0;
}

.points, .answer-count {
  font-weight: 300;
  color: #6a737c;
}

.author {
  display: inline-block;
  width: 200px;
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
}

.author_box, .answerer-box {
  background-color: #E1ECF4;
  text-align: center;
  color: #07C;
}

.points {
  padding-left: 10px;
}

.answer-count {
  padding-left: 20px;
}

.answers {
  padding-right: 20px;
}

/*on the show page, all the answers*/
.answer {
  margin-left: 50px;
}

.author, .question-tags {
  display: inline-block;
}

hr {
  color: #e4e6e8;
}

ul {
  padding-left: 130px;
  margin-top: 0px;
}
.tag-list {
  display: inline-block;
  float: left;
  background-color: #E1ECF4;
  color: #33658a;
  position: relative;
  padding: .4em .9em;
  margin: 2px 2px 2px 0;
  font-size: 11px;
  line-height: 1;
  text-decoration: none;
  text-align: center;

}

.columns {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.tag, .question-tags a {
  display: inline-block;
  width: 50px;
  float: left;
  background-color: #E1ECF4;
  color: #33658a;
  position: relative;
  padding: .4em .5em;
  margin: 2px 2px 2px 0;
  font-size: 11px;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
}

.tag:hover {
    color: #33658a;
    background-color: #cee0ed;
    border-color: rgba(0,0,0,0);
}

.nav_button {
    border: none;
    padding: 4px 10px 5px;
    font-size: 14px;
    line-height: 1.3;
    color: #FFF;
    background: #9fa6ad;
  }

.nav_button:hover, .nav_button:active {
    background-color: #f69c55;
  }

.all-questions {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

#user-header {
  height: 34px;
  background-color: #2d2e2f
  font-size: small;
}

#user-header a {
  font-size: x-small;
}

#question-form {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#question-form textarea {
  width: 598px;
}

.vote-button {
  background-color: white;
  border: none;
  color: #9fa6ad;
}

.answer-form {

  margin-bottom: 200px;
}
