<div class="tag-index">
  <h1>Tags</h1>
  <br>
  <br>

<div class='question-tags columns'>
  <ul>
     <% @tags.each do |tag| %>
      <li class='small-text tag-list tag-index-item <%= tag.id %>'><a href="/questions/tagged/<%= tag.name %>" class="post-tag" title="" rel="tag"><%= tag.name %></a></li><br>
    <% end %>
  </ul>
</div>
