<h3>Decks</h3>
<ul class="deck-list">
  <% @decks.each do |deck| %>
  <li>
    <div class="table">
      <a href="<%= "/decks/#{deck.id}" %>"> <%= deck.name %></a>
    </div>
  </li>
  <% end %>
</ul>

