<div id='nav-header'>
  <div id='logo-box'>
    <a href="/"><img src='/images/so-logo_edited.png' width='200px'></a>
  </div>
  <div id='nav-buttons'>
    <table border="0">
      <tr>
        <td><form method="get" action="/questions">
          <button class='nav_button' type="submit">Questions</button>
        </form></td>
        <td><form method="get" action="/tags">
          <button class='nav_button' type="submit">Tags</button>
        </form></td>
        <td><form method="get" action="/users">
          <button class='nav_button' type="submit">Users</button>
        </form></td>
        <% if current_user != nil %>
        <td><form method="get" action="/questions/new">
          <button class='nav_button' type="submit">Ask Question</button>
        </form></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
